Trabajo 2 <br>
La base de datos con la que le corresponde trabajar, se obtiene como una muestra
aleatoria que corresponde a corresponde a los resultados obtenidos por los j ́ovenes de
todo el pa ́ıs en las pruebas Saber 11, del a ̃no 2022. La informaci ́on aparece agregada
por Colegio y solo abarca los colegios de Antioquia. Dicha base contiene las variables:
NATURALEZA (Colegio Oficial o No-Oficial), JORNADA (Asociado a los diferentes
tipos de jornada de estudio), PROMLECT (Promedio obtenido por el colegio en Lectura
Cr ́ıtica) y PROMMATE (Promedio obtenido por el colegio en Matem ́aticas).

1. Construir en Python un IC para al 95 % de confianza necesario para responder:
¿Puede afirmarse que el resultado medio obtenido por los colegios en Matem ́aticas
es superior a 75 puntos? asuma normalidad, justifique su respuesta.

2. ¿Se puede afirmar que el resultado medio obtenido por los colegios en Lectura Cr ́ıti-
ca es menor en los colegios Privados que en los P ́ublicos? Construir en Python un IC para al 95 % de confianza sin asumir normalidad, justifique su respuesta.

3. Construir en Python un IC para al 94 % de confianza necesario para responder:
¿Puede afirmarse que la proporci ́on de colegios de jornada completa es m ́aximo del
40 %? No asuma normalidad, justifique su respuesta.

4. ¿Se puede afirmar que el resultado medio obtenido por los colegios en Matem ́aticas es mayor en los colegios de jornada completa que los que prestan servicio en jornadas diferentes? Construir en Python un IC para al 93 % de confianza asumiendo normalidad de las variables involucradas, justifique su respuesta.

In [1]:
from scipy.stats import f
from scipy.stats import uniform
from scipy.stats import binom
from scipy.stats import norm
from scipy.stats import expon
from scipy.stats import t
from scipy.stats import hypergeom, bernoulli, poisson
import pandas as pd
import numpy as np

In [5]:
data_set = pd.read_csv('DatosTrabajo2EAE20242.txt', sep=',')
data_set.describe()

          PROMLECT     PROMMATE
count  1807.000000  1807.000000
mean     50.321527    47.105147
std       7.028032     7.897110
min       0.000000    18.000000
25%      45.000000    41.000000
50%      50.000000    47.000000
75%      55.000000    52.000000
max      74.000000    76.000000

In [ ]:
n = 1807